{% extends 'registration/login_register_layout.html' %}

{% load static %}
{% block title %} Şifreyi Sıfırla {% endblock title %}
{% block content %}
<div class="login-form">
  <div class="text-center">
    <h1 class="h4 text-gray-900 mb-4">Şifreyi Sıfırla</h1>
  </div>
  <form>
   
    {% comment %} form based errors {% endcomment %}
    {% if form.non_field_errors %} 
    {{form.non_field_errors}}
    {% endif %}

    <div class="form-group">

    </div>
    <hr>
  </form>
  <form id="form" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row mb-4">
      {% if form %}
      {% for field in form %}
      <div class="form-group col-lg-8 m-auto">
        <label>{{field.label}}</label>
        {{ field }}
        {{ field.errors }}
      </div>
      {% endfor %}
      {% else %}
        <p class="m-auto">Bu linkin kullanım süresi dolmuştur. Lütfen tekrar istek gönderiniz.</p>
      {% endif %}
      
    </div>

    <div class="form-group ml-auto"> 
      <a href="{% url 'dashboard' %}">Giriş Sayfasına Dön</a>
   </div>
    <hr>
    
   {% if form %}
    <div class="form-group">
      <button type="submit" class="btn btn-success btn-block h3">Şifreni Değiştir</button>
    </div>
  </form>
  {% endif %}

  
</div>
{% endblock content %}