<div class="modal fade" id="addClassModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelLogout"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabelLogout">Ders Ekle</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="login-form">

          <form id="addClassForm" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row ">

              {% for field in class_form %}
                   
              <div class="form-group  {% if forloop.last %} col-lg-12 {% else %} col-lg-6 {% endif %} mx-auto mb-2">
                <label>{{field.label}}</label>
                {{ field }}
                {{ field.errors }}
              </div>
             
              {% endfor %}          
            </div>
            
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button id="add_class_button" type="button" class="btn btn-success">Ders Ekle</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal DeleteClass -->
<div class="modal fade" id="deleteClassModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelDeleteClass"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabelDeleteClass">Çıkış</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Bu dersi silmek istediğinizden emin misiniz?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" data-dismiss="modal">İptal</button>
        <button id="" class="btn btn-danger">Oturumu Kapat</button>
      </div>
    </div>
  </div>
</div>