{% extends 'layout.html' %}

{% load static %}
{% comment %}
{% load get_max_grade %}

{% endcomment %}
{% block title %}İntibak Başvuruları{% endblock %}

{% block plugins %}
<script src="{% static 'lib/vendor/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'lib/vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'lib/vendor/datatables/dataTables.rowsGroup.js' %}"></script>
{% endblock %}


{% block content %}
<div class="row mb-3">
    <div class="col-lg-12 mb-4">
        <!-- Simple Tables -->
        <div class="card">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">İntibak Başvuruları</h6>
            </div>
            <div class="table-responsive hide">
                <table id="class-datatable" class="table align-items-center table-flush">
                    <thead class="thead-light">

                        <tr class="text-center">
                            <th class="border border-white">Numara</th>
                            <th class="border border-white">Adı Soyadı</th>
                            <th class="border border-white">Geldiği Üniversite</th>
                            <th class="border border-white">Karar Tarihi</th>
                            <th class="border border-white">Başvuru Durumu</th>
                            <th class="border border-white">Başvuru Sonuçları</th>  
                            <th class="border border-white">Başvuru Düzenle</th>  
                            <th class="border border-white">Başvuru Onay</th>  
                        </tr>
                    </thead>
                    <tbody>
                       
                    </tbody>
                </table>
            </div>
            <div class="card-footer">            
            </div>
        </div>
    </div>      
   
</div>

{% include "adaptation/professor/components/modals.html" %}
{% endblock %}

{% block javascript %}
<script>
   
   adaptations_list_api_url = "{% url 'adaptation:adaptations_list_api' %}"
   adaptation_result_url = "{% url 'adaptation:adaptation_result' 0 %}"
   adaptation_manage_url = "{% url 'adaptation:adaptation_manage' 0 %}"
   adaptation_confirmation_url = "{% url 'adaptation:adaptation_confirmation' 0 %}"
   
</script>

<script src="{% static 'js/adaptation/adaptation_list.js' %}"></script>
{% endblock %}