from .base import *

DEBUG = True

# Database
# https://docs.djangoproject.com/en/3.2/ref/settings/#databases

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': 'intibak',
        'USER': 'postgres',
        'PASSWORD': '1126',
        'HOST': 'localhost',
        'PORT': '5432',
    }
}

#This settings for temporary use so they will change in production
# https://data-flair.training/blogs/django-send-email/
EMAIL_BACKEND = 'django.core.mail.backends.console.EmailBackend'  # use this for unreal email sending
EMAIL_BACKEND = 'django.core.mail.backends.smtp.EmailBackend'
EMAIL_PORT = 587
EMAIL_USE_TLS = True
EMAIL_HOST = 'smtp-mail.outlook.com'
EMAIL_HOST_USER = "zekeriya_sahin_avsar@hotmail.com"
EMAIL_HOST_PASSWORD = "zeki1999"
DEFAULT_FROM_EMAIL = "Zekeriya Şahin Avşar <zekeriya_sahin_avsar@hotmail.com>"


# Static files (CSS, JavaScript, Images)
# https://docs.djangoproject.com/en/3.2/howto/static-files/

STATIC_URL = '/static/'
STATICFILES_DIRS = (
    os.path.join('static'),
    os.path.join('static/fonts'),
    os.path.join('static/images'),
)

MEDIA_URL = '/media/'
MEDIA_ROOT = os.path.join(BASE_DIR, 'media/')

DATA_UPLOAD_MAX_MEMORY_SIZE = 5242880

