{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="{% static 'img/logo/logo.png' %}" rel="icon">
    <!-- /global stylesheets -->
    <!-- Main CSS file -->
    <link href="{% static 'lib/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'lib/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'lib/css/ruang-admin.min.css' %}" rel="stylesheet">
    <!-- /Main CSS file -->

    <script src="{% static 'lib/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'lib/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <title>{% block title %}{% endblock %}</title>
</head>


<body id="page-top">
    <div id="wrapper">
        <!-- Sidebar -->
       {% include "components/sidebar.html" %}
        <!-- Sidebar -->
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <!-- TopBar -->
                {% include "components/navbar.html" %}
                <!-- Topbar -->

                <!-- Container Fluid-->
                <div class="container-fluid" id="container-wrapper">
                    {% block content %}
                    {% endblock content %}
                </div>
                <!---Container Fluid-->
            </div>
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <!-- <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>copyright &copy; <script>
                                document.write(new Date().getFullYear());
                            </script> - developed by
                            <b><a href="https://indrijunanda.gitlab.io/" target="_blank">indrijunanda</a></b>
                        </span>
                    </div>
                </div>

                <div class="container my-auto py-2">
                    <div class="copyright text-center my-auto">
                        <span>copyright &copy; <script>
                                document.write(new Date().getFullYear());
                            </script> - distributed by
                            <b><a href="https://themewagon.com/" target="_blank">themewagon</a></b>
                        </span>
                    </div>
                </div> -->
            </footer>
            <!-- Footer -->
        </div>
    </div>
    {% include "components/modals.html" %}

    <!-- Scroll to top -->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Main scirpt file -->
    
    <script src="{% static 'lib/vendor/jquery-easing/jquery.easing.min.js' %}"></script>
    <script src="{% static 'lib/js/ruang-admin.min.js' %}"></script>

    <script src="{% static 'lib/vendor/chart.js/Chart.min.js' %}"></script>
    <script src="{% static 'lib/js/demo/chart-area-demo.js' %}"></script>
    <!-- /Main scirpt file -->


    <script>
        const csrfToken = "{{ csrf_token }}"
    </script>
    <script src="{% static 'lib/js/actions.js' %}"></script>
    {% if messages %}
    <script>
    const messages = [
    {% for message in messages %}
        { "message":{"non_field_message":"{{message}}"} {% if message.tags %}, "icon":"{{ message.tags }}"{% endif %}
        {% if message.tags == "warning" %}, "toast":true{% endif %}},
    {% endfor %}
    ]
    fire_alert(messages)
    </script>
    {% endif %}
    {% block javascript %}{% endblock javascript %}
</body>

</html>