.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.050293;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.050293;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.072754;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:1.072754;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:1.070801;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:1.070801;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff7;src:url(f7.woff)format("woff");}.ff7{font-family:ff7;line-height:1.070801;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff8;src:url(f8.woff)format("woff");}.ff8{font-family:ff8;line-height:1.070801;font-style:normal;font-weight:normal;visibility:visible;}
.m1{transform:matrix(0.236033,0.000000,-0.082391,0.236033,0,0);-ms-transform:matrix(0.236033,0.000000,-0.082391,0.236033,0,0);-webkit-transform:matrix(0.236033,0.000000,-0.082391,0.236033,0,0);}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._0{width:2.960000px;}
._2{width:50.880000px;}
._1{width:53.952000px;}
.fc0{color:rgb(0,0,0);}
.fs1{font-size:40.000000px;}
.fs0{font-size:44.000000px;}
.fs3{font-size:48.000000px;}
.fs4{font-size:55.076984px;}
.fs2{font-size:56.000000px;}
.y6{bottom:2.632000px;}
.y14{bottom:3.158000px;}
.y12{bottom:6.879001px;}
.y11{bottom:7.708000px;}
.y1d{bottom:8.758001px;}
.yb{bottom:9.057999px;}
.y1b{bottom:9.908001px;}
.y17{bottom:10.733000px;}
.y5{bottom:13.882000px;}
.y9{bottom:15.183977px;}
.yf{bottom:16.658000px;}
.y1a{bottom:23.408001px;}
.y4{bottom:25.132000px;}
.y19{bottom:30.158000px;}
.y8{bottom:30.933975px;}
.y3{bottom:35.450012px;}
.y0{bottom:72.000000px;}
.y28{bottom:72.267029px;}
.y29{bottom:82.547000px;}
.y2{bottom:103.527998px;}
.y27{bottom:180.016026px;}
.y26{bottom:205.216038px;}
.y25{bottom:230.416019px;}
.y24{bottom:255.616032px;}
.y23{bottom:280.816013px;}
.y22{bottom:306.016026px;}
.y21{bottom:331.216038px;}
.y20{bottom:356.416019px;}
.y1f{bottom:381.616032px;}
.y1e{bottom:406.816013px;}
.y1c{bottom:432.016026px;}
.y18{bottom:457.216026px;}
.y16{bottom:498.216022px;}
.y15{bottom:534.153027px;}
.y13{bottom:559.953026px;}
.y10{bottom:587.453024px;}
.ye{bottom:610.553024px;}
.yd{bottom:638.053028px;}
.yc{bottom:663.853027px;}
.ya{bottom:689.653027px;}
.y1{bottom:715.453026px;}
.y7{bottom:744.253048px;}
.hb{height:22.600000px;}
.h10{height:24.700001px;}
.h8{height:25.299999px;}
.ha{height:27.000000px;}
.h5{height:32.382812px;}
.h4{height:33.750000px;}
.hc{height:35.937000px;}
.h3{height:36.716797px;}
.h9{height:38.859375px;}
.h12{height:40.054688px;}
.hf{height:40.101562px;}
.he{height:40.500000px;}
.h6{height:42.998976px;}
.hd{height:46.014023px;}
.h7{height:46.785156px;}
.h11{height:93.750000px;}
.h2{height:126.446999px;}
.h1{height:722.500000px;}
.h0{height:841.900024px;}
.wa{width:64.250000px;}
.w7{width:90.199997px;}
.w5{width:103.150002px;}
.w8{width:139.649994px;}
.w4{width:175.449997px;}
.w6{width:176.350006px;}
.we{width:250.000000px;}
.wd{width:254.649994px;}
.wc{width:255.699997px;}
.w3{width:334.899994px;}
.w2{width:336.750000px;}
.wb{width:446.100006px;}
.w9{width:510.850006px;}
.w1{width:512.000000px;}
.w0{width:595.299988px;}
.x1{left:0.000000px;}
.x7{left:5.150000px;}
.xc{left:8.288000px;}
.xf{left:17.479001px;}
.x12{left:20.811000px;}
.x14{left:29.034000px;}
.x15{left:30.042000px;}
.x18{left:35.327000px;}
.xa{left:38.803999px;}
.x10{left:41.699999px;}
.x6{left:43.246002px;}
.x0{left:45.500000px;}
.x3{left:53.849998px;}
.xe{left:62.862002px;}
.x19{left:64.263000px;}
.x16{left:65.669998px;}
.x1c{left:84.171997px;}
.x5{left:87.875003px;}
.x13{left:99.294998px;}
.x11{left:110.799998px;}
.x1a{left:113.412003px;}
.x4{left:131.750000px;}
.x9{left:149.700000px;}
.x1b{left:176.475006px;}
.x17{left:302.250010px;}
.xb{left:326.549998px;}
.x8{left:381.449992px;}
.x2{left:407.652000px;}
.xd{left:417.250010px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._0{width:3.946667pt;}
._2{width:67.840000pt;}
._1{width:71.936000pt;}
.fs1{font-size:53.333333pt;}
.fs0{font-size:58.666667pt;}
.fs3{font-size:64.000000pt;}
.fs4{font-size:73.435979pt;}
.fs2{font-size:74.666667pt;}
.y6{bottom:3.509333pt;}
.y14{bottom:4.210667pt;}
.y12{bottom:9.172001pt;}
.y11{bottom:10.277334pt;}
.y1d{bottom:11.677335pt;}
.yb{bottom:12.077332pt;}
.y1b{bottom:13.210668pt;}
.y17{bottom:14.310666pt;}
.y5{bottom:18.509333pt;}
.y9{bottom:20.245303pt;}
.yf{bottom:22.210667pt;}
.y1a{bottom:31.210668pt;}
.y4{bottom:33.509333pt;}
.y19{bottom:40.210667pt;}
.y8{bottom:41.245301pt;}
.y3{bottom:47.266683pt;}
.y0{bottom:96.000000pt;}
.y28{bottom:96.356038pt;}
.y29{bottom:110.062667pt;}
.y2{bottom:138.037331pt;}
.y27{bottom:240.021367pt;}
.y26{bottom:273.621384pt;}
.y25{bottom:307.221359pt;}
.y24{bottom:340.821376pt;}
.y23{bottom:374.421351pt;}
.y22{bottom:408.021367pt;}
.y21{bottom:441.621384pt;}
.y20{bottom:475.221359pt;}
.y1f{bottom:508.821376pt;}
.y1e{bottom:542.421351pt;}
.y1c{bottom:576.021367pt;}
.y18{bottom:609.621368pt;}
.y16{bottom:664.288030pt;}
.y15{bottom:712.204035pt;}
.y13{bottom:746.604034pt;}
.y10{bottom:783.270699pt;}
.ye{bottom:814.070699pt;}
.yd{bottom:850.737371pt;}
.yc{bottom:885.137370pt;}
.ya{bottom:919.537369pt;}
.y1{bottom:953.937368pt;}
.y7{bottom:992.337397pt;}
.hb{height:30.133334pt;}
.h10{height:32.933334pt;}
.h8{height:33.733332pt;}
.ha{height:36.000000pt;}
.h5{height:43.177083pt;}
.h4{height:45.000000pt;}
.hc{height:47.916000pt;}
.h3{height:48.955729pt;}
.h9{height:51.812500pt;}
.h12{height:53.406250pt;}
.hf{height:53.468750pt;}
.he{height:54.000000pt;}
.h6{height:57.331968pt;}
.hd{height:61.352031pt;}
.h7{height:62.380208pt;}
.h11{height:125.000000pt;}
.h2{height:168.595998pt;}
.h1{height:963.333333pt;}
.h0{height:1122.533366pt;}
.wa{width:85.666667pt;}
.w7{width:120.266663pt;}
.w5{width:137.533335pt;}
.w8{width:186.199992pt;}
.w4{width:233.933329pt;}
.w6{width:235.133341pt;}
.we{width:333.333333pt;}
.wd{width:339.533325pt;}
.wc{width:340.933329pt;}
.w3{width:446.533325pt;}
.w2{width:449.000000pt;}
.wb{width:594.800008pt;}
.w9{width:681.133341pt;}
.w1{width:682.666667pt;}
.w0{width:793.733317pt;}
.x1{left:0.000000pt;}
.x7{left:6.866667pt;}
.xc{left:11.050667pt;}
.xf{left:23.305334pt;}
.x12{left:27.748000pt;}
.x14{left:38.712001pt;}
.x15{left:40.056000pt;}
.x18{left:47.102666pt;}
.xa{left:51.738666pt;}
.x10{left:55.599999pt;}
.x6{left:57.661336pt;}
.x0{left:60.666667pt;}
.x3{left:71.799998pt;}
.xe{left:83.816003pt;}
.x19{left:85.684001pt;}
.x16{left:87.559998pt;}
.x1c{left:112.229329pt;}
.x5{left:117.166671pt;}
.x13{left:132.393331pt;}
.x11{left:147.733331pt;}
.x1a{left:151.216003pt;}
.x4{left:175.666667pt;}
.x9{left:199.600000pt;}
.x1b{left:235.300008pt;}
.x17{left:403.000014pt;}
.xb{left:435.399998pt;}
.x8{left:508.599990pt;}
.x2{left:543.536001pt;}
.xd{left:556.333347pt;}
}
