{% load static %}

<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelLogout"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
   
      <div class="modal-body">
        modal fade
      </div>
  
    </div>
  </div>
</div>

<div class="alert alert-success alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">×</span>
    </button>
    <h6><i class="fas fa-check"></i><b> Success!</b></h6>
    A simple success alert—check it out!
</div>
<div class="alert alert-danger alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">×</span>
    </button>
    <h6><i class="fas fa-ban"></i><b> Stop!</b></h6>
    A simple danger alert—check it out!
</div>
<div class="alert alert-warning alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">×</span>
    </button>
    <h6><i class="fas fa-exclamation-triangle"></i><b> Warning!</b></h6>
    A simple warning alert—check it out!
</div>
<div class="alert alert-info alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">×</span>
    </button>
    <h6><i class="fas fa-info"></i><b> Information</b></h6>
    A simple info alert—check it out!
</div>