{% load static %}

<ul class="navbar-nav sidebar sidebar-light accordion" id="accordionSidebar">
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'dashboard'%}">
        <div class="sidebar-brand-icon">
            <img src="{% static 'img/logo/logo2.png' %}">
        </div>
        <div class="sidebar-brand-text mx-3">RuangAdmin</div>
    </a>
    <hr class="sidebar-divider my-0">
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'dashboard'%}">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>
    <hr class="sidebar-divider">
    <div class="sidebar-heading">
        Features
    </div>
 
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseApply"
            aria-expanded="true" aria-controls="collapseApply">
            <i class="fa fa-tasks"></i>
            <span>Başvuru</span>
        </a>
        <div id="collapseApply" class="collapse" aria-labelledby="headingApply"
            data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Başvuru Sayfaları</h6>
               
                <a class="collapse-item" href=" {% url 'adaptation:adaptation_create' %}">Ders Seçim</a>
                <!-- <a class="collapse-item" href="buttons.html">Ders Seçim Detay</a> -->
                <a class="collapse-item" href="#">Ders Seçim Onay/Takip</a>
                <h6 class="collapse-header">Komisyon</h6>
                <a class="collapse-item" href="{% url 'adaptation:adaptation_list' %}">Ders Seçim Listesi</a>
            </div>
        </div>
    </li>
  
</ul>